@model LaLibreria.Models.Ventas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ventas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idventas" />
            <div class="form-group">
                <label asp-for="IdestadosVentas" class="control-label"></label>
                <select asp-for="IdestadosVentas" class="form-control" asp-items="ViewBag.IdestadosVentas"></select>
                <span asp-validation-for="IdestadosVentas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcliente" class="control-label"></label>
                <select asp-for="Idcliente" class="form-control" asp-items="ViewBag.Idcliente"></select>
                <span asp-validation-for="Idcliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rutcliente" class="control-label"></label>
                <select asp-for="Rutcliente" class="form-control" asp-items="ViewBag.Rutcliente"></select>
                <span asp-validation-for="Rutcliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdtipoDocumento" class="control-label"></label>
                <select asp-for="IdtipoDocumento" class="form-control" asp-items="ViewBag.IdtipoDocumento"></select>
                <span asp-validation-for="IdtipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEmision" class="control-label"></label>
                <input asp-for="FechaEmision" class="form-control" />
                <span asp-validation-for="FechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVencimiento" class="control-label"></label>
                <input asp-for="FechaVencimiento" class="form-control" />
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtotal" class="control-label"></label>
                <input asp-for="Subtotal" class="form-control" />
                <span asp-validation-for="Subtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descuento" class="control-label"></label>
                <input asp-for="Descuento" class="form-control" />
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInsert" class="control-label"></label>
                <input asp-for="FechaInsert" class="form-control" />
                <span asp-validation-for="FechaInsert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaUpdate" class="control-label"></label>
                <input asp-for="FechaUpdate" class="form-control" />
                <span asp-validation-for="FechaUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolioDocumento" class="control-label"></label>
                <input asp-for="FolioDocumento" class="form-control" />
                <span asp-validation-for="FolioDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
